*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #fff;
    --orange: #ff7200;
    --black:#111;
    --gray:#acacac;
    --orangish:#f0eae8;
    color: var(--black);
}
a{
    text-decoration: none;
    color: var(--black);
}
.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
mark{
    background: none;
    color: var(--orange);
    font-size: 1.2em;
    transition: color .2s linear;
}
mark:hover{
    color: var(--gray);
}
/* header */
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    font-size: 2.2rem;
    text-align: center;
    width: 200px;
    height: 80px;
    line-height: 70px;
    background: url("../img/back-logo.png") no-repeat;
    background-size: 200px auto;
}
.logo h2{
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin-left: 30px;
    color: var(--gray);
}
.right-header{
    display: flex;
    justify-content: space-between;
}
.work-time{
    display: flex;
    align-items: center;
    justify-content: center;
}
.work-time i{
    color: var(--orange);
    transition: color .2s linear;
    font-size: 1.8rem;
}
.work-time i:hover{
    color: var(--gray);
}
.work-time div{
    margin-left: 10px;
    font-size: .8rem;
}
.work-time div{
    margin-left: 10px;
    font-size: .8rem;
}
p.work-time{
    color: var(--orange);
}
.telephone h2{
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 1px;
    margin-left: 180px;
}
/*first*/
.first{
    border: #f4f4f4 3px solid;
    height: calc(100vh - 80px);
    min-height: 850px;
    width: 100%;
    background: url(../img/bg-1.jpg) no-repeat center -80px;
    background-size: cover;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
.first h2{
    margin: 50px auto 23px;
    font-size: 2rem;
    letter-spacing: 2px;
    word-spacing: 10px;
}
.first p{
    letter-spacing: 8px;
    font-size: 1rem;
}
.features{
    width: 100%;
    position: absolute;
    bottom: 60px;
    align-items: center;
    text-align: center;
}
.features-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 30px;
}
.projects{
    width: 320px;
    display: flex;
    align-items: center;
    text-align: left;
    margin: 20px auto;
    padding: 10px 15px;
    border-radius: 8px;
    background: rgba(255, 178, 114, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.projects p{
    letter-spacing: 0;
    margin-left: 15px;
}
/*job types*/
.job-types{
    width: 100%;
    max-width: 800px;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
}
.types-inner{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100px 100px 150px 50px 150px 100px 100px;
    grid-template-areas: 'item1 item1 item2 item2 no1'
                         'no2   item3 item2 item2 no1'
                         'no2   item3 item4 item5 item5'
                         'item6 item6 item6 item5 item5'
                         'no3   item7 item8 item8 no4'
                         'item9 item9 item8 item8 no4'
                         'item9 item9 no5   no5   no4'
}
.grid-item{
    display: flex;
    justify-content: center;
    margin: 5px;
    border-radius: 10px;
    transition: all .2s ease;
    align-items: center;
    z-index: 1;
}
.item-hover{
    filter: grayscale(80%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.item-hover:hover{
    transform: scale(1.5);
    filter: grayscale(0%);
    z-index: 2;
}
.item1{
    grid-area: item1;
    background:url(../img/brush2.png) no-repeat center;
    background-size: 100% 100%;
}
.item2{grid-area: item2;
    background: url(../img/apartment.jpg) no-repeat bottom;
    background-size: cover;
}
.item3{grid-area: item3;
    background: url(../img/balcony.jpg) no-repeat;
    background-size: cover;
}
.item4{grid-area: item4;
    background: url(../img/office.jpg) no-repeat;
    background-size: cover;
}
.item5{grid-area: item5;
    background: url(../img/house.jpg) no-repeat center;
    background-size: cover;
}
.item6{grid-area: item6;
    color: var(--orange);
    text-transform: uppercase;
    background: #f5f5f5;
    font-size: 1rem;
    letter-spacing: 11px;
    word-spacing: 5px;
}
.item7{grid-area: item7;
    background: url(../img/wc.jpg) no-repeat center;
    background-size: cover;
}
.item8{grid-area: item8;
    background: url(../img/outsideHouse.jpg) no-repeat bottom;
    background-size: cover;
}
.item9{grid-area: item9;
    background: url(../img/kitchen.jpg) no-repeat center;
    background-size: cover;
}
.grid-item h4{
    padding: 5px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: 5px;
    background-color: rgba(65, 65, 65, 0.7);
}
/*job types picture*/
.pic1{
    position: absolute;
    z-index: 0;
    top: 700px;
    right: -50px;
    transform: rotateZ(-5deg);
    height: 130px;
}
.pic2{
    position: absolute;
    z-index: 1;
    top: 710px;
    right: 50px;
    transform: rotateZ(5deg);
    animation: valik 30s linear infinite;
    transition: all .5s ease;
    height: 75px;
}
.pic2:hover{
    height: 81px;
}
@keyframes valik {
    50%{transform: rotateZ(5deg) translateX(100px) translateY(-20px);}
}
.pic3{
    position: absolute;
    z-index: 0;
    top: 200px;
    left: -50px;
    height: 95px;
    animation: opilka 30s linear infinite;
    transition: all .5s ease;
}
.pic3:hover{
    height: 100px;
}
@keyframes opilka{
    33%{transform: translateX(-30px) translateY(30px);}
    66%{transform: translateX(50px) translateY(40px);}
}
.pic4{
    position: absolute;
    z-index: 0;
    top: 150px;
    right: -120px;
    height: 55px;
}
.pic5{
    position: absolute;
    z-index: 0;
    top: 88px;
    right: -287px;
    height: 100px;
    transform-origin: bottom right;
    animation: hummer 13s linear infinite;
    transform: rotateZ(45deg);
}
.pic5:hover{
    animation: hummer 1s linear infinite;
}
@keyframes hummer {
    50%{transform: rotateZ(0);}
}
/*prices*/
.prices{
    width: 100%;
    padding: 100px 30px;
}
.prices-inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.price{
    width: 30%;
    background: var(--orangish);
    border-radius: 10px;
    position: relative;
}
.price h3{
    border-radius: 10px 10px 0 0;
    text-align: center;
    background-color: var(--orange);
    padding: 23px 0;
    font-size: 1.5rem;
}
.price p{
    font-size: 1.2rem;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    padding: 10px 0 30px;
}
.price p span{
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--orange);
}
.price ul{
    padding: 20px 30px;
    list-style: none;
    font-size: 1rem;
    list-style-position: outside;
}
.disable, .active{
    color: var(--gray);
    margin: 10px 0;
}
.disable i, .active i{
    display: block;
    float: left;
    line-height: 1.5;
}
.disable i::before, .active i::before{
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    margin: 0 18px 0 2px;
    content: "\f00d";
    box-sizing: border-box;
}
.active {
    color: var(--black);
}
.active i::before{
    content: "\f00c";
    margin:0 14px 0 0;
}
.onKey{
    position: absolute;
    color: white;
    font-weight: 500;
    font-size: .8rem;
    padding: 10px;
    border-radius: 8px;
    top: -15px;
    right: -25px;
    background-color: #4063d8;
    text-transform: uppercase;
}
/*stages*/
.stages{
    margin: 80px auto;
    text-align: center;
}
.stages h4{
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--black);
    letter-spacing: 10px;
    word-spacing: 10px;
}
.stages > div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 150px;   
}
.stages-inner{
    position: relative;
}
.stages-inner p{
    position: absolute;
    top: -10px;
    left: -30px;
    color: var(--orangish);
    font-size: 4rem;
    line-height: 1;
    font-weight: 700;
    z-index: 2;
}
.stages-inner img{
    height: 160px;
    opacity: .8;
}
.stages-inner h5{
    margin: 20px auto;
    font-size: 1rem;
    font-weight: 400;
}
/*bottom*/
.footer{
    background-color: rgb(54, 48, 43);
    color: white;
    padding: 80px 30px;
}
.footer h3 {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}
.footer-inner{
    margin: 60px 150px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.footer-inner > div{
    width: 48%;
    text-align: center;
}
.footer-phone h2{
    margin-left: 0;
    margin-top: 30px;
}
.footer-icon{
    color: var(--orange);
    transition: color .2s linear;
    margin: 30px 0 30px 0;
    padding: 20px 0 0 0;
}
.footer-icon:hover{
    color: var(--gray);
}
.guatantee h2{
    text-transform: uppercase;
    font-size: 1.2rem;
}
.guatantee p {
    font-size: 1rem;
    margin-top: 10px;
    color: var(--gray);
}
/* MEDIA queries
================== */
@media screen and (max-width: 1500px){
    .first h2{
        margin: 20px auto 23px;
    }
    /*job types picture*/
    .pic4{
        top: 110px;
        right: -20px;
    }
    .pic5{
        top: 48px;
        right: -187px;
}}
@media screen and (max-width: 1270px){
    /*job types picture*/
    .pic4{
        right: 80px;
    }
    .pic5{
        right: -87px;
}}
@media screen and (max-width: 1180px){
    /* HEADER */
    .header-inner{
        display: table;
    }
    .right-header{
        display: flex;
        float: right;
    }
    /*job types picture*/
    .pic1{
        top: 720px;
        right: 85px;
    }
    .pic2{
        top: 730px;
        right: 135px;
    }
    
    .pic4{
        top: 312px;
        left: 22px;
    }
    .pic5{
        top: 250px;
        left: 27px;
    }
    .pic3{
        top: 500px;
        left: 20px;
        animation-play-state: paused;
    }
    /*footer*/
    .footer-inner{
        margin: 60px 50px 40px;
}}
@media screen and (max-width: 1000px){
    .price{
        margin-top: 20px;
        width: 100%;
    }
    .stages > div{
        padding: 0 30px; 
    }
    .stages-inner{
        width: 50%;
}}
@media screen and (max-width: 750px){
    .stages > div{
        margin: 40px 80px;   
    }
    /*footer*/
    .footer-inner>div{
        width: 100%;
}}
@media screen and (max-width: 630px){
    .telephone h2{
        font-size: 1.5rem;
        font-weight: 900;
        letter-spacing: 1px;
        margin-left: 40px;
    }
    .stages > div{
        margin: 40px 50px;   
}}