body{
    margin: 0;
    font-size: 13px;
    color: #d0ffd0;
    background-color: #333831;
    font-family: 'Montserrat', sans-serif;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
/*container*/
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
/*header*/
.header{
    z-index: 1000;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    position: fixed;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    align-items: center;
    border-bottom: 1px solid rgba(79, 231, 79, 0.253);
}
.header-logo{
    font-size: 30px;
    color: #fff;
    font-weight: 900;
    word-spacing: 20px;
}
/*navigation*/
.nav{
    display: flex;
    font-weight: 700;
    text-transform: uppercase;
}
.nav-link{
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    transition: all .4s linear;
    opacity: .75;
}
.nav-link:first-child{
    margin-left: 0;
}
.nav-link:hover{
    color: rgb(79, 231, 79);
    opacity: 1;
}
/*intro*/
.intro{
    padding-top: 100px;
    width: 100%;
    background: #333831 url("/img/teapot-bg.jpg") no-repeat;
    /*#333831 будет цвет если не прогрузиться картинка*/
    background-size: cover;
}
/*HOME
===========*/
.home{
    width: 430px;
    height: 100vh;
    min-height: 900px;
}
h1.home-in{
    padding: 45% 10px 0;
    font-family: 'Caveat', cursive;
    margin: 0;
    word-spacing: 100px;
    text-indent: 70px;
    font-size: 55px;
    border-bottom: 1px solid rgba(79, 231, 79, 0.253);
}
p.home-in{
    word-spacing: 6px;
    margin-top: 13px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
}
/*WORKS
===========*/
.works{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}
h2{
    margin: 0;
    padding: 200px 0 100px;
    font-size: 23px;
    text-align: center;
    text-transform: uppercase;
}
.video-container{
    margin: 0 auto;
    padding: 20px;
}
div.video{
    width: 782px;
    margin: 0 auto 0;
}
p.video{
    text-align: center;
    margin: 30px auto 0;
    padding-bottom: 50px;
    font-size: 16px;
}
.uavos{
    text-decoration: none;
    color: #699e69;
}
