*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #e7e7e7;
    font-family: Arial, sans-serif;
    --height: 150px;
    --black: rgb(29, 40, 41);
    --white: rgb(233, 218, 215);
}
.container{
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
#clicks{
    display: flex;
    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--black);
    margin:30px auto 45px;
    padding: 0 20px;
}
#clicks span{
    margin-left: 5px;
}
#records{
    position: absolute;
    top: -12px;
    right: 10px;
    color: rgb(233, 215, 215);
    padding: 20px;
    padding-left: 25px;
    border: 2px solid var(--black);
    overflow: hidden;
    height: 65px;
    transition: all .3s ease;
    z-index: 1;
    background-color: rgb(197, 83, 42);
}
#records h3{
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 20px;
}
#records:hover{
    height: 280px;
}
#records li{
    margin-bottom: 3px;
    font-weight: 300;
}
#records li:first-of-type{
    margin-bottom: 13px;
    color: var(--black);
    font-size: 1.2rem;
}
#memo-body{
    display: flex;
    flex-wrap: wrap;
}
#memo-body > div {
    width: 150px;
    height: var(--height);
    margin: 5px;
    perspective: 500px;
}
.memo{
    height: inherit;
    width: inherit;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform .3s ease;
}
.memo-face, .memo-back{
    width: inherit;
    height: inherit;
    border-radius: 15px;
    border: 5px solid rgb(78, 104, 109);
    text-align: center;
    line-height: var(--height);
    background-color: rgb(119, 179, 190);
    backface-visibility: hidden;
}
.memo-face img {
    vertical-align: middle;
    width: 100%;
}
.memo-back{
    position: absolute;
    transform: rotateY(180deg);
    border-color: rgb(109, 89, 78);
    top: 0;
    left: 0;
    background-color: rgb(187, 122, 84);
}
/*players*/
#players{
    display: none;
    z-index: 2;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(231, 231, 231, 0.836);
}
#choice{
    padding: 50px;
    text-align: center;
    color: var(--white);
    background-color: rgb(70, 70, 70);
}