*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    --orangish:#c7ac17;
    --yellow:#b4b439;
    --purple: #321878;
    --white: #f7f7f7;
    font-family: 'Roboto', sans-serif;
    background-color: var(--white) !important;
}
a{
    text-decoration: none;
    color: black;
}
mark{
    margin-left: 10px;
    background: none;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--orangish);
}
.container{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}
/*header*/
header{
    padding: 30px 0;
}
.header-inner{
    background: linear-gradient(-90deg, var(--orangish), var(--yellow),var(--orangish));
    border-radius: 15px;
    padding: 8px;
    border: 1px solid var(--purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo-name{
    margin-left: 15px;
    border-right: 2px solid var(--purple);
    padding-right: 30px;
}
.logo-name h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.88rem;
    letter-spacing: 2px;
}
.logo-name p{
    font-weight: 400;
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 5px;
}
.logo h2{
    font-family: 'PT Sans', sans-serif;
    margin-left: 20px;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 1px;
}
/*language*/
.language{
    position: relative;
    border: none;
}
.lang-style{
    display: flex;
    margin-right: 20px;
    cursor: pointer;
}
.lang-style img{
    height: 30px !important;
    transition: all .1s linear;
}
.lang-style p{
    font-weight: 700;
    align-self: center;
    font-size: 1.2rem;
    margin-left: 5px;
}
.cur-lang img {    
    border-radius: 15px 0 0 15px;
}
.choose-lang{
    position: absolute;
    top: 40px;
    display: block;
    height: 0px;
    overflow: hidden;
    transition: height .15s ease .1s;
    z-index: 2;
}
.last-lang{
    border-radius: 0 0 15px 15px;
}
.last-lang img{
    border-radius: 0 0 0 15px;
}
.choose-lang .lang-style{
    margin-top: 5px;
    background: var(--orangish);
}
.language:hover .cur-lang img{
    border-radius: 15px 0 0 0;
}
.language:hover .choose-lang{
    height: 120px;
}
/*navigation*/
.nav-menu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.nav-link{
    margin-right: 30px;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
}
.nav-link:last-of-type{
    margin-right: 0;
}
.nav-link:after, .telephone:after{
    content: " ";
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 1px;
    background: var(--purple);
    opacity: 0;
    transition: all .2s ease;
}
.nav-link:hover:after, .telephone:hover:after, .nav-active:after{
    opacity: 1;
    top: 25px;
    width: 100%;
}
.telephone:hover:after{
    width: 90%;
    top: 30px;
}
.nav-link:hover{
    color: var(--yellow);
}
/*telephone*/
.tel-contacts{
    display: flex;
}
.telephone{
    position: relative;
    height: 28px;
}
.telephone:last-of-type{
    margin-left: 10px;
    line-height: 28px;
}
.telephone img{
    height: 28px !important;
    margin: 0 7px;
}
/*MAIN*/
/*trans-head*/
.img-train{
    position: absolute; 
    top: 0;
    left: -340px;
    z-index: -1;
}
.img-telega{
    position: absolute;
    top: 480px;
    right: -200px;
    height: 200px;
    z-index: -1;
}
.trans-head{
    position: relative;
    text-align: center;
}
.trans-head h2{
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}
.trans-head h3{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 10px;
    word-spacing: 5px;
    margin: 30px 0 50px;
}
/* slider */
.trans-slider{
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--purple);
    overflow: hidden;
}
.slider-wrapper{
    display: flex;
    transition: transform .5s ease;
}
.slider-item{
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    height: 400px;
    background-color: rgba(241, 241, 215, .85);
    display: flex;
    text-align: center;
    align-items: center;
}
.color2{
    background-color:rgba(230, 227, 200, .85);
}
.sl-item-inner{
    width: 100%;
}
.sl-item-inner h2{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.05rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 0 20px;
}
.sl-item-inner img{
    margin-bottom: 30px;
    height: 180px;
}
.sl-item-inner p{
    margin: 0px 5vw;
    font-size: .9rem;
}
/*slider controllers*/
.slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}
.slider__control:hover{
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}
.slider__control_left {
  left: 0;
}
.slider__control_right {
  right: 0;
}
.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
/*features*/
.features{
    padding: 80px 0;
}
.features-inner{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 900px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.feature{
    width: 33.3333%;
}
.feature img{
    height: 80px !important;
}
.feature h4{
    margin-top: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: var(--purple);
}
